<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление</title>
</head>
<div th:insert="~{header :: #head}"></div>
<body>
<form style="" th:method="POST" th:action="@{/customer/add}" th:object="${obj}">
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="email">Введите почту</label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <input type="submit" value="Добавить">

</form>
</body>
</html>