<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение заказа</title>
</head>
<div th:insert="~{header :: #head}"></div>
<body>
<form style="" th:method="PATCH" th:action="@{/order/update/{id}(id=${obj.getId()})}" th:object="${obj}">
    <label for="product">Выберите продукт</label>
    <select  id="product"  th:field="*{product.productId}">
        <option th:each="prdouc:${products}"
                th:selected="${obj.getProduct().getName()==prdouc.name}"
                th:value="${prdouc.productId}" th:text="${prdouc.getColorName()}">
    </select>
    <label for="customer">Выберите продукт</label>
    <select  id="customer"  th:field="*{customer.id}">
        <option th:each="custome:${customers}"
                th:selected="${obj.getCustomer().getName()==custome.name}"
                th:value="${custome.id}" th:text="${custome.getName()}">
    </select>

    <input hidden type="hidden" th:field="*{status}" th:value="${obj.getStatus()}" id="status">
    <input hidden type="date" th:field="*{dateOfUpdate}" th:value="${obj.getDateOfUpdate()}" id="dateup">
    <input hidden type="date" th:field="*{dateOfRecord}" th:value="${obj.getDateOfRecord()}" id="dater">
    <label for="date">Выберите дату заказа</label>
    <input type="date" th:field="*{dateOfOrder}" id="date">
    <div style="color: red" th:if="${#fields.hasErrors('dateOfOrder')}" th:errors="*{dateOfOrder}"></div>
    <br/>

    <label for="datee">Выберите дату выполнения</label>
    <input type="date" th:field="*{dateOfExecution}" id="datee">
    <div style="color: red" th:if="${#fields.hasErrors('dateOfExecution')}" th:errors="*{dateOfExecution}"></div>
    <br/>

    <label for="productQuantity">Введите количество продукта</label>
    <input  type="number" max="10000000" th:field="*{productQuantity}" id="productQuantity">
    <div style="color: red" th:if="${#fields.hasErrors('productQuantity')}" th:errors="*{productQuantity}"></div>
    <br/>

    <label for="deliveryAdress">Введите адрес</label>
    <input type="text" th:field="*{deliveryAdress}" id="deliveryAdress">
    <div style="color: red" th:if="${#fields.hasErrors('deliveryAdress')}" th:errors="*{deliveryAdress}"></div>
    <br/>

    <input type="submit" value="Изменить">

</form>
</body>
</html>