<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
</head>
<div th:insert="~{header :: #head}"></div>
<body>

<form style="" th:method="POST" th:action="@{/staff/addStaff}" th:object="${staff}">
    <br/><label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>


    <br/> <label for="lastName">Введите фамилию</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

    <br/><label for="middleName">Введите отчество</label>
    <input type="text" th:field="*{middleName}" id="middleName">
    <div style="color: red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>


    <br/> <label for="salary">Введите зарплату</label>
    <input type="text" th:field="*{salary}" id="salary">
    <div style="color: red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>


    <br/> <label for="phoneNumber">Введите телефон</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
    <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>

    <br/> <label for="email">Введите почту</label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    <br/> <label for="post">Выберите должность</label>
    <input type="text" th:field="*{post}" id="post">
    <div style="color: red" th:if="${#fields.hasErrors('post')}" th:errors="*{post}"></div>



    <br/> <label for="birthday">Введите дату рождения</label>
    <input type="date" th:field="*{birthday}" id="birthday">
    <div style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>

    <br/> <label for="working">Введите статус</label>
    <!--    <input type="text" th:field="*{working}" id="working">-->
    <!--    <div style="color: red" th:if="${#fields.hasErrors('working')}" th:errors="*{working}"></div>-->

    <select  id="working" name="working">
        <option th:selected="*{#bools.isFalse(working)}" value="false">Не работает</option>
        <option th:selected="*{#bools.isTrue(working)}" value="true" >Работает</option>
    </select>


    <br/>  <label for="department">Отдел</label>
    <select  name="department.name" id="department">
        <option th:each="a:${dep}" th:selected="${staff.department.name==a.getName}"  th:value="${a.getName()}" th:text="${a.getName}">
    </select>
    <br/>
    <label for="dateOfHire">Введите день найма</label>
    <input type="date" th:field="*{dateOfHire}" id="dateOfHire">
    <div style="color: red" th:if="${#fields.hasErrors('dateOfHire')}" th:errors="*{dateOfHire}"></div>
    <br/>
    <label for="dateOfSalary">Введите день повышения зарплаты</label>
    <input type="date" th:field="*{dateOfSalary}" id="dateOfSalary">
    <div style="color: red" th:if="${#fields.hasErrors('dateOfSalary')}" th:errors="*{dateOfSalary}"></div>
    <br/>
    <input type="submit" value="Добавить">

</form>
</body>
</html>