<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление</title>
</head>
<div th:insert="~{header :: #head}"></div>
<body>
<form style="" th:method="POST" th:action="@{/materialStorage/add}" th:object="${obj}">
    <label for="name">Введите название</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="desc">Введите адрес</label>
    <input type="text" th:field="*{adress}" id="desc">
    <div style="color: red" th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}"></div>
    <br/>  <label for="mc">Выберите материал</label>
    <select  th:field="*{materialId.materialId}" id="mc">
        <option th:each="a:${mats}" th:selected="${obj.materialId.materialId==a.getMaterialId}"  th:value="${a.getMaterialId}" th:text="${a.getName}">
    </select>
    <label for="q">Введите количество</label>
    <input  type="number" max="10000000" th:field="*{quantity}" id="q">
    <div style="color: red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
    <input type="submit" value="Добавить">

</form>
</body>
</html>